body{
    background-color: lightgray;
    background-image: url('../images/All-pets.png');

}

.header-style {
    text-align: center;
    padding: 10px;    
    margin:auto;
    margin-bottom: 2px;

}

.container-style{
    width: 100%;
    background-color: #eeeeee;

}

.inner-header-style{
    text-align: center;
    padding: 10px;
}

.menu-item{
    padding: 5px;
    text-align: center;
}

.btn{
    width: 100%;
}

.hint-off{
    visibility: hidden;
}

.hint-on{
    visibility: visible;
}

.char-to-guess{
    font-size: 40px;
}

